.header {
  height: 130px;
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/834/435/original/beautiful-space-background-vector.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 8px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}
