nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > a {
  grid-row-start: 2;
  grid-row-end: 3;
  color: black;
  font-size: 1.5em;
  background-color: white;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px;
}
nav > a:not(:last-child) {
  margin-right: 10px;
}
.icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
